.one {
  font-size: 10px + 10px;
}
.two {
  font-size: 10px - 10px;
}
.three {
  font-size: 10px / 10;
}
.three {
  font-size: (10px / 10); // 괄호가 있어야한다. 문자열로 변환
}
// .four {
//   font-size: 10px * 10px; // error
// }
.four {
  font-size: 10px * 10;
}
// .four {
//   font-size: (10px * 10px); // error
// }
// .four {
//   font-size: 10px * 1in;  // error
// }
.four {
  font-size: 10px * 10.1;
}
// .five {
//   font-size: 10px ** 10px; //errer
// }
// 곱하기와 나누기와 다르게 2개의 단위가 모두 있어도 에러가 안난다. 앞의 값으로 반환한다.
.six {
  font-size: 10px % 3px; //나머지 연산
}
.six {
  font-size: 10px % 3; //나머지 연산.
}
.six {
  font-size: 3in % 10px;
}